* {
  margin: 0;
  padding: 0;
}
/* common share style */
.btn-primary {
  padding: 15px 45px;
  color: #f7f7f7;
  background-color: rgba(229, 84, 115, 1);
  border-radius: 8px;
  border: none;
  font-size: 15px;
}
/* flower header container style start*/
.flower-container {
  height: 100vh;
  background-color: #e554731a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flower-artical {
  padding-left: 200px;
}
.flower-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  width: 650px;
}

.flower-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 580px;
  padding: 20px 0px;
}
.flower-image img {
  margin-top: 135px;
}
/* flower header container style end */

/* flower-featured-text-container style start*/
.flower-featured-text-container {
  text-align: center;
  padding: 200px 600px 100px 600px;
}
.featured-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.featured-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding: 20px;
}
/* flower-featured-text-container style end */

/* tree-flower-style-start */

.tree-flower-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 100px;
}

.tree-flower-item {
  width: 400px;
  height: 430px;
  padding-top: 120px;
  background-color: rgba(167, 33, 98, 0.15);
  border-radius: 300px 300px 0px 0px;
  align-items: center;
}
#tree-anchor {
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 30px;
  color: black;
}
.position {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 30px;
  color: black;
}
#tree-position {
  margin-top: -40px;
}
.tree-background-color3 {
  background-color: rgba(71, 125, 17, 0.15);
}
.tree-background-color2 {
  background-color: rgba(5, 151, 160, 0.15);
}
/* hot deal style start */
.hot-deal-container {
  height: 400px;
  background-color: #e554731a;
  padding: 100px 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 150px 0px;
  text-align: center;
}
.hot-deal-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  padding: 20px;
}
.hot-deal-description {
  width: 594px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 20px;
}
span {
  color: rgba(229, 84, 115, 1);
}
/* hot deal style end */

/* instagram style start*/
.instagram-container {
  padding: 50px 100px;
  text-align: center;
}
.instagram-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.instagram-description{
color: rgba(39, 39, 39, 0.60);
font-size: 20px;
font-weight: 400;
text-align: center;
padding: 20px;
}
/* instagram style end*/

/* multiple flower style start*/
.multiple-flower-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
  gap: 20px;
}
/* multiple flower style end*/
